


.first {
  display: inline;
  background-color: red;
  border: 40px solid green;
}
.second {
  display: inline;
  background-color: red;
  border: 40px solid red;
}
.third {
  display: inline;
  background-color: red;
  border: 40px solid blue;
}
