* {
  margin: 0px;
}
body {
  margin: 0 0 0 0;
  background-color: #999;
}
.container  {
  width: 100% ;

}
.jumbotron   {
  text-align: center;
  background-color: #034803;
  color: #136cb9;
  padding: 0px 0px 0px 0px;
  width: 100%;
  }
.jumbotron > h1 > a  {
    color: yellow;
    }
.jumbotron  > h1 > a:hover  {
      text-decoration: none;
      color: red;
      }
.table {
  width: 100%;
  margin: auto;
  text-align: center;
  }
 tr > th {
  text-align: center;
  /*width: 250px;*/
}
td > img {
    width: 250px;
    height: 150px;
}
tr > .sub {

  width: 150px;
}
tr {
  border-bottom: 2px solid black;
}
td {
  border-right: 2px solid black;
}
.rad {
  padding-left: 25px;
  text-align: left;
}
td > button {
  padding: 0;
  margin: 0;
  width: 149px;
  height: 149px;
  background-color: yellow;
}
td > button:hover {
  background-color: green;

}
