.pic {
  height: 350;width: auto;
  background-color: grey;

}
.pic img {
  display: block;
  margin: auto;
  padding: 25px;
  border-radius: 50%;
}

p {
  background-color: blue;
  font-size: 30px;
  text-align: center;
}
.tables {
  font-family: Arial, Verdana, sans-serif;
  margin: auto;
  text-align: center;
  width: 30%;
  background-color: yellow;
}
tr.even {
  background: #efefef;
}
th {
  border-top: 1px solid #999;
  border-bottom: 2px solid #111111
}
.green {
  color: green;
}
body{
  background: grey;
}
ul {
  display: block;
  margin: auto;
  width: 10%;
}
